In [32]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
executable_path = {'executable_path':r'C:\Users\ashle\OneDrive\Desktop\chromedriver.exe'}
browser = Browser('chrome',**executable_path, headless=False)

In [18]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [20]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [21]:
slides = soup.select_one('ul.item_list li.slide')

In [6]:
news_title = slides.find("div",class_="content_title").text

In [7]:
news_p = slides.find("div",class_="article_teaser_body").text
news_p

"It's the first time machine learning has been used to find previously unknown craters on the Red Planet."

In [8]:
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA01322_ip.jpg"

In [27]:
url2 = 'https://space-facts.com/mars/'
browser.visit(url2)

In [28]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [40]:
facts_table = pd.read_html(url2)
facts = facts_table[0]

pandas.core.frame.DataFrame

In [48]:
facts=facts.set_index(0)

In [49]:
facts

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [53]:
html_facts = facts.to_html()

In [57]:
facts_soup = BeautifulSoup(html_facts, 'html.parser')
facts_soup

<table border="1" class="dataframe">
<thead>
<tr style="text-align: right;">
<th></th>
<th>1</th>
</tr>
<tr>
<th>0</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<th>Equatorial Diameter:</th>
<td>6,792 km</td>
</tr>
<tr>
<th>Polar Diameter:</th>
<td>6,752 km</td>
</tr>
<tr>
<th>Mass:</th>
<td>6.39 × 10^23 kg (0.11 Earths)</td>
</tr>
<tr>
<th>Moons:</th>
<td>2 (Phobos &amp; Deimos)</td>
</tr>
<tr>
<th>Orbit Distance:</th>
<td>227,943,824 km (1.38 AU)</td>
</tr>
<tr>
<th>Orbit Period:</th>
<td>687 days (1.9 years)</td>
</tr>
<tr>
<th>Surface Temperature:</th>
<td>-87 to -5 °C</td>
</tr>
<tr>
<th>First Record:</th>
<td>2nd millennium BC</td>
</tr>
<tr>
<th>Recorded By:</th>
<td>Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [51]:
# 4 loop for hemispheres
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"},
]